<div class="card">
  <h3 style="margin-bottom:15px;">📝 Banco de Ejercicios</h3>
  <% ejercicios.forEach(ejercicio=> { %>
  <div class="list-item">
    <span>Ejercicio <%= ejercicio.id %>: <%= ejercicio.titulo %></span>
    <a href="/uni/materia/<%= ejercicio.materiaId %>/ejercicio/<%= ejercicio.id %>" class="btn btn-primary" style="padding:5px 10px; font-size:0.8rem;">Ver
      Ejercicio</a>
  </div>
  <% }) %>
</div>