# Dependencias

node_modules/

npm-debug.log*

yarn-debug.log*

yarn-error.log*



# Entorno y Secretos

.env

.env.*

!.env.example



# Compilación y Salida

dist/

build/

.cache/



# Base de Datos (SQLite / Prisma)

prisma/dev.db

prisma/dev.db-journal

/prisma/migrations/



# Sistema (Windows)

Thumbs.db

desktop.ini